<template name="MasterLayout">
    <nav>
        <div id='header' class="nav-wrapper">   
            <!-- {{#linkTo route="home"}}<span class='glyphicon glyphicon-home' id='home-btn'></span>{{/linkTo}} -->
            <span class="glyphicon glyphicon-home home-btn"></span>
            <span class='brand-logo' id='header-title'>Mindful Life</span>
            <span href="#" data-activates="mobile-demo" class="button-collapse"><i class="glyphicon glyphicon-menu-hamburger" id='sidebar-btn'></i></span>
      <!--       <ul class="right hide-on-med-and-down">
                <li class='side-item'><a href="{{pathFor 'about'}}">About</a></li>
                <li class='side-item'><a href="#" onclick="window.open('https://www.razoo.com/story/Mindful-Life-Project?referral_code=share', '_system');">Donate Page</a></li>
                <li class='side-item'><a href="{{pathFor 'language_select'}}">Language/Idioma</a></li>
            </ul> -->
            <ul class="side-nav" id="mobile-demo">
                <li class="sidebar-logo"><img src="images/logo-white.png"></li>
                <li class='side-item'><a href="{{pathFor 'about'}}">About</a></li>
                <li class='side-item'><a href="#" onclick="window.open('https://www.razoo.com/story/Mindful-Life-Project?referral_code=share', '_system');">Donate Page</a></li>
                <li class='side-item'><a href="{{pathFor 'language_select'}}">Language/Idioma</a></li>
            </ul>
        </div>
    </nav>
    <div>
        {{> yield}}
    </div>
</template>
