/*****************************************************************************/
/* SitPage: Style */
/*****************************************************************************/

$item-height: 60px;

.sit-page {
    padding-top: 15px;
    background-color: #2ECC71;
    .subheader, .title, .author { display: block; text-align: center; margin: 7px 0px; }

    .subheader {
        color: black;
        font-size: 15px;

        &:first-child {
            margin-top: 0px;
        }
    }

    .title {
        color: white;
        font-size: 20px;
    }   

    .author {
        color: white;
        font-size: 30px;
    }

    .time-area {
        color: white;
        font-size: 20px;
        text-align: center;
    }

    #audio-player {
        margin-top: 50px;
        text-align: center;
        height: 50px;

        .audio-btn-container {
            height: 50px;
        }

        span {
            color: white;
            font-size:20px;
            line-height: 50px;
            vertical-align: middle;
            visibility: hidden;
        }

        #toggle { font-size: 60px; visibility: visible;}

        .status-container {
            height: 5px;
            display: block;
            margin: 20px auto;
            width: 200px;
            background-color: #19723F;
            border-radius: 50px;
            position: relative;
            .status-bar {
              height: 5px;
              position: absolute;
              left: 0px;
              background-color: white;  
              border-radius: 50px;
            }   
        }
    }

    #bottom-list {

        iframe {
            margin: 0;
            height: 150px;

        }
        /*margin-top: 75px;*/
        /*border-top: 1px solid white;*/
        .sits-item {

            border-bottom: 1px solid white;
            height: $item-height;
            padding: 0px 15px;
            cursor: pointer;
        }

        .item-title {
            font-size: 20px;
            font-weight: light;
            color: white;
            line-height: $item-height !important;
            vertical-align: middle;
        }

        .timestamp {
            font-size: 20px;
            float: right;
            color: white;
            line-height: $item-height !important;
            vertical-align: middle;
        }
    }
}
