/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
#home {
    a {
        height: 100%;
        width: 100%;

        div {
            height: 100%;
            width: 100%;
        }
    }

    .home-nav-btns {
        /* TODO: Add box shadow */
        height: 33%;
        display: block;
        border-radius: 0;
        margin: 0;
        text-align: center;
        display: table; 
        width: 100%;
        position: relative;

        &:last-child {
            height: 35%;
        }

        .triangle {
            width: 0;
            height: 0;
            border-top: 80px solid black;
            border-right: 80px solid transparent;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        span  {
            position: absolute;
            top: 15px;
            left: 10px;
            color: white;
            font-size: 18px;
        }

        .wrapper {
            display: table-cell;
            vertical-align: middle;



            p {
                color: white;
                font-size: 25px;
                vertical-align: middle;

                .btn-arrow {
                    position: static;
                    float: right;
                }
            }    
        }
        
    }

    #checkin-btn { background-color: #DB5C5C };
    #sits-btn { background-color: #2ECC71 };
    #def-btn { background-color: #49A5F9 };

    #checkin-btn .triangle { border-top: 80px solid #B83A3A };
    #sits-btn .triangle { border-top: 80px solid #41AB3E };
    #def-btn .triangle { border-top: 80px solid #3B87CC };

    .btn-text {
        color: white;
        font-size: 1.5em;
        margin-left: 20%;
    }
}