/*****************************************************************************/
/* Definition: Style */
/*****************************************************************************/
#definition {
    /* TODO: Add gradient effect*/
    background-color: #F0C418;  
    /*padding-top: 20px;*/


    .definition-header, .definition-content {

    } 

    .definition-header {
        color: white;
        text-align: center;
        margin: 0px;
        margin-top: 0px;
        display: block;
    }

    .definition-content {
        padding: 0px 15px;
        font-size: 20px;
        font-weight: 400;
        color: white;
        /*text-indent: 50px;*/
        text-align: center;
        text-indent: 25px;
        margin: 30px auto;
        text-align: left;
        line-height: 35px;
    }
}
