/*****************************************************************************/
/* main: Style */
/*****************************************************************************/

/* Variables */

$nav-height: 50px;

* {
  box-sizing: border-box;
}


html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;  
}

.content-container {
  width: 100%;
  padding: 0;
  min-height: 85vh;

    .content-img {
        height: auto;
        width: 100%;
    }
}

.static-container {
  width: 100%;
  padding: 0;
  height: 85vh;
}


/* common styles */

body, input, select, textarea, p, h1, h2, h3, h4, h5, h6, label {
  font-weight: 300;
  font-family: "Helvetica", sans-serif;
  margin: 0;
  letter-spacing: 2px;
}

p {
  font-size: 22px;
}

.btn {
  box-shadow: none;
  border: none;
  text-transform: none;
  font-size: 12px;
  padding: 0px 50px;
}